<div class="container">
   <div class="page-header">
     <h2>
       {{title}}
     </h2>
   </div>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{country.countryId}}</td>
			<td>{{country.country}}</td>
        </tr>
    </tbody>
</table>
</div>

