<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="countries">Countries</a>
  </li>
  <li>
    <a routerLink="cities">Cities</a>
  </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>