<div class="container">
   <div class="page-header">
     <h2>
       {{title}}
     </h2>
   </div>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.cityId}}</td>
			<td>{{city.city}}</td>
        </tr>
    </tbody>
</table>
</div>

